<nav class="navbar navbar-expand-lg navbar-light fixed-top">
	<div class="container" id="eso">
		<a class="navbar-brand" href="/index">
			<img src="/img/logo.png" width="35" height="35" class="d-inline-block align-top" alt="">
			Colab Administrador
		</a>
		<button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
			<span class="navbar-toggler-icon"></span>
		</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav m-auto">
				<li class="nav-item" >
					<a class="nav-link" href="/personas/lista">	<i class="fas fa-user-friends"></i> Personas</i><span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/alumnos/lista">Alumnos</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/profesores/lista">Profesores</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/clases/lista">Clases</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/horarios/lista">Horarios</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/asistencias/lista">Asistencias</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/reportes/lista">Reportes</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
