body {
	font-family: 'Patrick Hand SC', cursive;
	background-image: url("/img/cinco.jpg");
	font-size: 20px;
}

.table{
	color: rgb(255, 255, 255);
	background-color: rgba(0, 0, 0, 0.527);
	font-size: 20px ;
}
table:hover{
	color: rgb(166, 168, 41);
	font-size: 23px ;
}
#eso{
	background-color:rgba(0, 0, 0, 0.521);
	
}

.navbar-nav{
   background-color:rgba(47, 44, 139, 0.404);
	font-size: 22px;
}

.navbar-light .navbar-brand {
    color:rgba(255, 255, 255, 0.76);
	font-size: 25px;
}

.navbar-light .navbar-nav .nav-link {
	color:rgba(255, 255, 255, 0.801);
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: rgb(184, 104, 29);
}


